/* GENERAL LAYOUT */

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.layout-padding {
    padding: 1rem 2rem 1rem;
}

#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button{
    cursor: pointer;
}

/* COLOR CLASSES */

.dark {
    background-color: #0B4B33;
    color: white;
}

.medium-light {
    background-color: #45B78B;
    color: white;
}

.light {
    background-color: #F8F8F8;
    color: black;
}


/* HEADER OF THE PAGE */

header {
    background-color: white;
    width: 100%;
}


/* MAIN CONTENT OF THE PAGE */

main {
    flex-grow: 1;
}

.two-column-main {
    display: flex;
    width: 100%;
}

.main-column {
    width: 82.5%;
}

.side-column {
    flex-grow: 1;
}

/* PEOPLE LIST */
table{
    width: 100%;
    text-align: left;
}

td,th{
    display: inline-block;
    margin: 0 2em 0;
    width: 15%;
}

tr{
    display: block;
    padding: 1em 0 1em;
}

tbody tr:nth-child(odd){
  background-color: #45B78B;
  color: white;
}

tbody{
    display: block;
    overflow: auto;
    height: 60vh;
}


/* MODAL WINDOW FOR UPDATING USERS */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form > *{
    margin: auto;
}

/* FOOTER */